<div class="home-banner-container">
  <div class="home-banner-body-container">
    <div class="home-banner-title-container">
      <label>Tu comida diaria: una travesía de sabores</label>
    </div>
    <div class="home-banner-slogan-container">
      <label>En cada plato, te llevamos de viaje por recetas únicas, ingredientes frescos y experiencias que
        despiertan los sentidos. Déjate sorprender por nuevas combinaciones y convierte tu comida diaria en una
        verdadera aventura
        gastronómica.</label>
    </div>
  </div>
  <div class="home-banner-color-container">
    <img class="home-banner-color-img" src="/assets/img/Color.svg">
  </div>
</div>
