<div class="home-banner-container">
  <div class="home-banner-body-container">
    <div class="home-banner-title-container">
      <label class="home-banner-title-label">Tu</label>
      <label class="home-banner-title-label home-banner-title-label-red">&nbsp;comida&nbsp;</label>
      <label class="home-banner-title-label">diaria: una</label>
      <br>
      <label class="home-banner-title-label">
        travesía de
      </label>
      <label class="home-banner-title-label home-banner-title-label-red">
        &nbsp;sabores
      </label>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="home-banner-slogan-container">
          <label class="home-banner-label">En cada plato, te llevamos de viaje por recetas únicas, ingredientes frescos
            y
            experiencias que
            despiertan los sentidos. Déjate sorprender por nuevas combinaciones y convierte tu comida diaria en una
            verdadera aventura
            gastronómica.</label>
        </div>
      </div>
      <div class="col-md-6">
        <div class="home-banner-dish-container">
          <img class="home-banner-dish-img" src="/assets/img/home-dish.png">
        </div>
      </div>
    </div>

  </div>
  <div class="home-banner-color-container">
    <img class="home-banner-color-img" src="/assets/img/Color.svg">
  </div>
</div>
