<div class="information-modal-container">
  <div class="information-modal-title-container">
    <label class="information-modal-title-label">
      {{data.title}}
    </label>
  </div>
  <div class="information-modal-body-container">
    <div class="information-modal-content-container">
      <label class="information-modal-body-label">
        {{data.body}}
      </label>
    </div>
    <div class="information-modal-actions-container">
      <button class="btn btn-primary information-modal-accept-button" (click)="closeModal()">
        <span>Aceptar</span>
      </button>
    </div>
  </div>
</div>
